<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/head :: head('Система тестирования')"></head>

<body>
<nav th:replace="common/nav :: copy"></nav>

<div class="container mt-5">

    <div class="row">
        <div class="col">
            <h6 th:text="${'Вопрос № ' + solution.getPriority() + ': ' + solution.getQuestion().getName()}"></h6>
            <br>
            <p>Выберите один или несколько верных вариантов ответа.</p>
            <div th:if="${countCorrect == 1}">
                <form th:action="@{/content/attempt/{id_attempt}/solution/{id_solution}(id_attempt=${attempt.getId()}, id_solution=${solution.getId()})}"
                      th:method="POST" th:object="${solution}">
                    <ul>
                        <li th:each="variant : ${solution.getQuestion().getVariants()}">
                            <input type="radio" th:field="*{result}" th:value="${variant.getId()}" />
                            <label th:for="${#ids.prev('result')}" th:text="${variant.getName()}">RED</label>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-primary mb-2">Сохранить, далее</button>
                </form>
            </div>
            <div th:if="${countCorrect != 1}">
                <form th:action="@{/content/attempt/{id_attempt}/solution/{id_solution}(id_attempt=${attempt.getId()}, id_solution=${solution.getId()})}"
                      th:method="POST" th:object="${solution}">
                    <ul>
                        <li th:each="variant : ${solution.getQuestion().getVariants()}">
                            <input type="checkbox" th:field="*{result}" th:value="${variant.getId()}"/>
                            <label th:for="${#ids.prev('result')}" th:text="${variant.getName()}">RED</label>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-primary mb-2">Сохранить, далее</button>
                </form>
            </div>
        </div>
    <div class="col">
        <p th:text="${'Приём ответов до: ' + dtEndFormat}">Информация по тестированию</p>
    </div>
    </div>
</div>

<div th:replace="common/script :: script">
</div>
</body>
</html>