<!DOCTYPE html>
<html lang="ru" xmlns:th="https://www.thymeleaf.org">
<head th:replace="common/head :: head('Удаление')"></head>
<body>
<nav th:replace="common/nav :: copy"></nav>
<div class="container mt-5">
    <h5>Вы действительно хотите удалить материал?</h5>
    <br>
    <p th:text="${'Название материала: ' + testE.getName()}">Имя</p>
    <form th:action="@{/test_inst/delete/{id}(id=${testE.getId()})}" th:method="DELETE" th:object="${testE}">
        <button type="submit" class="btn btn-primary mb-2">Удалить</button>
    </form>
</div>
<div th:replace="common/script :: script"></div>
</body>
</html>